<?xml version="1.0" encoding="utf-8" ?>

<!--XML Configuration file for NLog-->
<!--below code   will create log file in C directory
In my case  is internalLogFile="c:/Projectlogs/internallog.txt"  will create Projectlogs folder and inside this folder 
will create internallog.txt file to save api logs information
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:/Projectlogs/internallog.txt">
 <!--Target Log file mean where the log file should go -->
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="c:/Projectlogs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>